@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #0a192f;
}

body {
  min-height: 100vh;
  background-color: #0a192f !important;
  color: #ccd6f6 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #e6f1ff !important;
}

p {
  color: #8892b0 !important;
}

.text-secondary {
  color: #64ffda !important;
}

.text-textLight {
  color: #e6f1ff !important;
}

.text-text {
  color: #8892b0 !important;
}